@charset "UTF-8";
@import url("https://fonts.googleapis.com/css2?family=Sofia+Sans+Condensed:wght@300;400;500;600;700&display=swap");
@import url("../fonts/style.css");
* {
  padding: 0px;
  margin: 0px;
  border: none;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

:focus,
:active {
  /*outline: none;*/
}

a:focus,
a:active {
  /* outline: none;*/
}

/* Links */
a,
a:link,
a:visited {
  /* color: inherit; */
  text-decoration: none;
  /* display: inline-block; */
}

a:hover {
  /* color: inherit; */
  text-decoration: none;
}

/* Common */
aside,
nav,
footer,
header,
section,
main {
  display: block;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  font-size: inherit;
  font-weight: inherit;
}

ul,
ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

img,
svg {
  max-width: 100%;
  height: auto;
}

address {
  font-style: normal;
}

/* Form */
input,
textarea,
button,
select {
  font-family: inherit;
  font-size: inherit;
  color: inherit;
  background-color: transparent;
}

input::-ms-clear {
  display: none;
}

button,
input[type=submit] {
  display: inline-block;
  box-shadow: none;
  background-color: transparent;
  background: none;
  cursor: pointer;
}

input:focus,
input:active,
button:focus,
button:active {
  outline: none;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

label {
  cursor: pointer;
}

legend {
  display: block;
}

.selectbox__selected {
  font-size: 20px;
  font-weight: 600;
  line-height: 1.1;
}

.selectbox__item {
  font-size: 18px;
  font-weight: 500;
  line-height: 1.1;
}

body {
  font-family: "Sofia Sans Condensed", sans-serif;
  background: #e0e5eb;
  height: 100vh;
  display: grid;
  align-items: center;
  justify-content: center;
  color: #222;
}

h1 {
  font-size: 36px;
  font-weight: 700;
}

.mobile {
  width: 350px;
  height: 700px;
  background-color: #fff;
  border-radius: 20px;
  box-shadow: -5px 5px 15px rgba(0, 0, 0, 0.3);
  display: grid;
  grid-template-rows: 48px 1fr 62px;
}

.header,
.footer {
  align-self: center;
  justify-self: center;
}

.main {
  background: #fff;
}

/* UI - Components */
.selectbox {
  cursor: pointer;
  width: 150px;
  margin: 0 auto;
  position: relative;
  margin-bottom: 25px;
}
.selectbox__selected {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0 12px;
  position: relative;
  z-index: 2;
  background-color: #fff;
}
.selectbox__selected i, .selectbox__selected span {
  pointer-events: none;
}
.selectbox__list {
  position: absolute;
  top: 0;
  left: -12px;
  right: -12px;
  max-height: 0;
  overflow: hidden;
  padding: 8px 12px;
  background-color: #fff;
  border-radius: 3px;
  transition: all 0.3s ease;
  z-index: 1;
}
.selectbox__item {
  cursor: pointer;
  transition: all 0.3s ease;
}
.selectbox__item:not(:last-child) {
  margin-bottom: 4px;
}
.selectbox__item.selected, .selectbox__item:hover {
  color: #7e77ee;
  font-weight: 600;
}
.selectbox.open .selectbox__list {
  top: 130%;
  max-height: 200px;
}
.selectbox.open .ic_arrow {
  transform: rotate(-180deg);
}

.ic_arrow {
  display: inline-block;
  font-size: 0.7em;
  margin-left: 10px;
  transform: rotate(0deg);
  transition: all 0.3s ease;
}

.rooms {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  margin: 0 20px;
  align-items: center;
  justify-content: center;
  gap: 15px;
}

.room {
  cursor: pointer;
  display: grid;
  grid-template-rows: 130px 30px;
  text-align: center;
  align-content: center;
  background: #f0f0f0;
  border-radius: 12px;
  transition: all 0.3s ease;
}
.room i {
  align-self: center;
  font-size: 5em;
  opacity: 0.7;
  color: #222;
  transition: all 0.3s ease;
}
.room span {
  color: #222;
  transition: all 0.3s ease;
}
.room.selected {
  background: linear-gradient(to right, #a894e6, #7e77ee);
  color: #fff;
}
.room.selected i {
  opacity: 1;
  color: #fff;
}
.room.selected span {
  color: #fff;
}

/* Страница настроек комнаты */
.settings {
  padding: 0 20px;
  display: none;
}
.settings__tabs {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: 100px;
  gap: 15px;
}
.settings__screen {
  display: none;
}
.settings__screen.selected {
  display: block;
}
.settings__screen-title {
  text-align: center;
  margin: 30px 0 15px;
  font-weight: 300;
  font-size: 24px;
}
.settings__screen-icon {
  text-align: center;
  font-size: 30px;
  margin-bottom: 15px;
}

.option {
  cursor: pointer;
  display: grid;
  grid-template-rows: 2fr 1fr;
  text-align: center;
  align-content: center;
  background: #f0f0f0;
  border-radius: 12px;
  transition: all 0.3s ease;
}
.option i {
  align-self: center;
  font-size: 3em;
  opacity: 0.7;
  color: #222;
  transition: all 0.3s ease;
}
.option span {
  color: #222;
  transition: all 0.3s ease;
}
.option.selected {
  background: linear-gradient(to right, #a894e6, #7e77ee);
  color: #fff;
}
.option.selected i {
  opacity: 1;
  color: #fff;
}
.option.selected span {
  color: #fff;
}

/* Кнопка регулировки температуры */
.temperature-button {
  cursor: pointer;
  width: 240px;
  height: 240px;
  margin: 0 auto;
  display: grid;
  align-items: center;
  justify-items: center;
  position: relative;
}
.temperature-button__info {
  font-size: 36px;
  width: 70%;
  height: 70%;
  border-radius: 50%;
  background-color: #fff;
  box-shadow: 0 0 3px rgba(0, 0, 0, 0.7);
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
}
.temperature-button__info::before {
  content: "";
  display: block;
  position: absolute;
  left: 4%;
  right: 4%;
  top: 4%;
  bottom: 4%;
  border-radius: 50%;
  border: 1px solid rgba(0, 0, 0, 0.5);
}

.dots {
  fill: transparent;
  stroke: #f0f0f0;
  stroke-width: 3px;
  stroke-linecap: round;
  stroke-dasharray: 0 21;
}
.dots-box {
  transform: rotate(5deg);
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
}

.line,
.separate-line,
.temperature-line,
.temperature-round,
.separate-dots {
  fill: transparent;
  transition: all 0.5s ease-in-out;
  stroke: #f0f0f0;
  stroke-linecap: round;
  transform-origin: center;
  stroke-width: 1px;
  stroke-dasharray: 276 276;
  transform: rotate(48deg);
}

.temperature-round {
  stroke-width: 6px;
  stroke-dasharray: 0 276;
  transform: rotate(-240deg);
}

.temperature-line {
  stroke: rgba(0, 0, 0, 0.7);
  stroke-dasharray: 54 276;
}

.separate-line {
  stroke: #fff;
  stroke-width: 3px;
  transform: rotate(49deg);
  stroke-dasharray: 53 276;
}

.separate-dots {
  stroke: #fff;
  stroke-width: 3px;
  stroke-dasharray: 40 313;
  transform: rotate(60deg);
}

/* Кнопка регулировки температуры end*/
.power {
  background: linear-gradient(to right, #a894e6, #7e77ee);
  color: #fff;
  width: 45px;
  height: 45px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 25px;
  padding-bottom: 2px;
  margin: 0 auto;
  cursor: pointer;
}
.power-label {
  text-align: center;
  padding-top: 10px;
  font-weight: 300;
  margin-bottom: 20px;
}
.power.off {
  background: #f0f0f0;
}

.set-btn {
  background: linear-gradient(to right, #a894e6, #7e77ee);
  color: #fff;
  width: 220px;
  border-radius: 20px;
  margin: 0 auto;
  display: block;
  padding: 10px 15px;
}

/* Slide */
.slide {
  width: 100px;
  height: 250px;
  margin: 0 auto;
  background-color: #f0f0f0;
  border-radius: 16px;
  overflow: hidden;
  position: relative;
  cursor: pointer;
}
.slide__progress {
  font-size: 30px;
  display: flex;
  align-items: end;
  justify-content: center;
  font-weight: 600;
  color: #fff;
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  min-height: 36px;
  height: 45%;
  background: linear-gradient(to right, #a894e6, #7e77ee);
  pointer-events: none;
}
.slide__progress span {
  pointer-events: none;
}

/* Slide end */
.switch {
  cursor: pointer;
  width: 60px;
  height: 28px;
  border-radius: 50px;
  background: #f0f0f0;
  margin: 30px auto 0;
  position: relative;
}
.switch div {
  position: absolute;
  left: 52%;
  top: 0;
  width: 28px;
  height: 28px;
  border-radius: 50%;
  background: linear-gradient(to right, #a894e6, #7e77ee);
  transition: all 0.3s ease;
}
.switch.off div {
  left: 0;
  background: #aaa;
}/*# sourceMappingURL=style.css.map */